---
---

@import "minimal-mistakes";

// 自定义样式
.page__title {
  color: #2c3e50;
  font-size: 2.5em;
}

.page__content {
  font-size: 1em;
  line-height: 1.8;
}

.author__avatar {
  img {
    border-radius: 50%;
    border: 3px solid #000000;  // 添加3px宽的黑色边框
    box-shadow: 0 0 10px rgba(0,0,0,0.2);  // 可选：添加阴影效果
  }
}